<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:property-placeholder location="classpath:sso.properties,classpath:redis.properties" ignore-unresolvable="true" />

    <bean id="ssoClientUtil" class="com.lifang.sso.SsoClientUtil" />

    <bean id="ssoFilter" class="com.lifang.sso.SsoFilter">
        <property name="ssoServerUrl" value="${sso.server.url}" />
        <property name="ssoClientUrl" value="${sso.client.url}" />
        <property name="whiteList" value="${sso.whiteList}" />
    </bean>
</beans>
