<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lifang.agentsm.dao.write.AgentAccusationWriteMapper" >
  <update id="updateInform" parameterType="String">
  		
		UPDATE lf_agent_accusation SET auditSatus = '2',auditTime = now(),auditor=#{employeeId} WHERE id = #{id}
  </update> 
  
   <update id="deleteInform" parameterType="map">
  		
		UPDATE lf_agent_accusation SET status = '0',auditTime = now() WHERE id = #{id}
  </update>
  
</mapper>