<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lifang.agentsm.dao.write.LfStoreWriteMapper" >
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lf_store
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lifang.agentsm.entity.LfStore" >
    insert into lf_store (id, storeName, companyId, 
      cityId, districtid, townid, 
      mobile, address, mono, 
      status, createTime, updateTime
      )
    values (#{id,jdbcType=INTEGER}, #{storeName,jdbcType=VARCHAR}, #{companyId,jdbcType=INTEGER}, 
      #{cityId,jdbcType=INTEGER}, #{districtid,jdbcType=INTEGER}, #{townid,jdbcType=INTEGER}, 
      #{mobile,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{mono,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lifang.agentsm.entity.LfStore" >
    insert into lf_store
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="storeName != null" >
        storeName,
      </if>
      <if test="companyId != null" >
        companyId,
      </if>
      <if test="cityId != null" >
        cityId,
      </if>
      <if test="districtid != null" >
        districtid,
      </if>
      <if test="townid != null" >
        townid,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="mono != null" >
        mono,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storeName != null" >
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="districtid != null" >
        #{districtid,jdbcType=INTEGER},
      </if>
      <if test="townid != null" >
        #{townid,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="mono != null" >
        #{mono,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lifang.agentsm.entity.LfStore" >
    update lf_store
    <set >
      <if test="storeName != null" >
        storeName = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        companyId = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        cityId = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="districtid != null" >
        districtid = #{districtid,jdbcType=INTEGER},
      </if>
      <if test="townid != null" >
        townid = #{townid,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="mono != null" >
        mono = #{mono,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lifang.agentsm.entity.LfStore" >
    update lf_store
    set storeName = #{storeName,jdbcType=VARCHAR},
      companyId = #{companyId,jdbcType=INTEGER},
      cityId = #{cityId,jdbcType=INTEGER},
      districtid = #{districtid,jdbcType=INTEGER},
      townid = #{townid,jdbcType=INTEGER},
      mobile = #{mobile,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      mono = #{mono,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>