<!-- BEGIN FOOTER -->
<div class="footer">
	<div class="footer-inner">
		2014 &copy; 房源通. All right reserved.
	</div>
	<div class="footer-tools">
			<span class="go-top">
			<i class="icon-angle-up"></i>
			</span>
	</div>
</div>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->


<!-- END JAVASCRIPTS -->